<%- include('../layouts/admin-header')%>

      <div class="container">

      <div>
      <b>Category Count:</b><%=categoryCount %> 
      </div>
      <div>
        <b>Product Count:</b><%=productCount %> 
        </div>
        
      </div>
      <%- include('../layouts/admin-footer')%>

   